/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





.header{
  height:100px;
  background:rgba(1, 4, 58,0.8);
}
#button{
  margin-top:30px;
  padding:10px 10px 10px 10px;
  background:white;
  margin-left:240px;
  text-decoration:none;
  position:absolute;
  border-radius:20%;
  color:rgba(50, 91, 158,0.8);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#button1{
  margin-top:30px;
  padding:10px 10px 10px 10px;
  background:white;
  margin-left:1100px;
  text-decoration:none;
  position:absolute;
  border-radius:20%;
  color:rgba(50, 91, 158,0.8);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#img{
  height:70px;
  width:70px;
  margin-left:690px;
  margin-top:14px;
}
#img:hover{
  border-radius:30%;
  opacity:0.1;
}

body{
  color:#6a6f8c;
  background-color:rgba(255,255,255,0.6);
  font:600 16px/18px 'Open Sans',sans-serif;
}

.footer {
   bottom:0;
   width:100%;
   height:90px;
   background:rgba(50, 91, 158,0.8);
}



/* General Styles */
html{
   background:url(http://phutora.com/img/friends3.jpg) no-repeat;
   background-size: cover;
   height:100%;
   background:url(bg.png);
}
* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}
body {
   color:#000000;
   font-family: Arial, san-serif;
}


/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:rgba(1, 4, 58,0.8);
   padding: 10px 120px 30px 120px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:75px;
   margin-left: -260px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
   width:100%;
   background: #fff;
   border: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 25px;
   padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
   background-color: #E5E6E7;
}
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:white;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}
#contact-form .required {
   font-weight:bold;
   color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070;
   display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}

/*.content-wrapper {
  position: relative;
}*/
.content-wrapper .one{
  color:rgba(50, 91, 158,0.8);
}

.comment2 p.new{
  margin-left:140px;
  margin-top:10px;
  color:white;
  padding-top: 10px;
  font-size: 24px;
}
.content-wrapper .first{
  background:url("bg.png");
  float:right;
  width:70%;
  text-decoration:none;
  margin-top:50px;
  margin-left:250px;
  background-color:white;
  height:500px;
}

.content-wrapper .first a {
  color: black;
  font-size: 24px;
  border-bottom: 1px dotted black;
}
.content-wrapper .second{
  color:white;
  float:right;
  width:100%;
  text-decoration:none;

  margin-top:50px;
  margin-left:250px;
  background-color:rgba(50, 91, 158,0.8);
  height:500px;
}

.content-wrapper .one{
  height:170px;
  background-color:rgba(1, 4, 58,0.8);
  color:white;
}
.content-wrapper .comment2{
  height:auto;
  background-color:rgba(1, 4, 58,0.8);
  color:white;
}


#Comment{
  margin-left:130px;
  margin-top:40px;
}

#User{
  margin-top:60px;
  padding:20px 30px 20px 30px;
  background:rgba(50, 91, 158,0.8);
  margin-left:30px;
  text-decoration:none;
  font-size:20px;
  position:absolute;
  border-radius:20%;
  color:white;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#approve{
  margin-top:152px;
  padding:20px 30px 20px 30px;
  background:rgba(50, 91, 158,0.8);
  margin-left:25px;
  text-decoration:none;
  font-size:20px;
  position:absolute;
  border-radius:20%;
  color:white;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}


#add{
  margin-top:255px;
  padding:20px 30px 20px 30px;
  background:rgba(50, 91, 158,0.8);
  margin-left:34px;
  text-decoration:none;
  font-size:20px;
  position:absolute;
  border-radius:20%;
  color:white;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}


 #button11{
  margin-top:-75px;
  padding:10px 10px 10px 10px;
  background:white;
  margin-left:1240px;
  text-decoration:none;
  position:absolute;
  border-radius:20%;
  color:rgba(50, 91, 158,0.8);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}



.button12{
  margin-top:-75px;
  padding:10px 10px 10px 10px;
  background:white;
  margin-left:100px;
  text-decoration:none;
  position:absolute;
  border-radius:20%;
  color:rgba(50, 91, 158,0.8);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}



#add1{
  margin-top:55px;
  padding:20px 30px 20px 30px;
  background:rgba(50, 91, 158,0.8);
  margin-left:34px;
  text-decoration:none;
  font-size:20px;
  position:absolute;
  border-radius:20%;
  color:white;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.comment textarea {
  border-radius: 10px;
  font-size: 18px;
}

.comment textarea:focus {
  outline: none;
}

.comment button {
  padding:10px;
  border-radius: 5px;
  background: rgba(50, 91, 158,0.8);
  border:none;
}

#id1,#id2{
  background:rgba(1, 4, 58,0.8);
}

.one table {
  padding-top:20px;
}
.one table,tr,td {
  border:1px solid white;
}

.one td {
  padding:10px;
}
.clear {
  clear: both;
}
.login-button {
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 25px;
  display: inline-block;
  margin-left: 30px;
  color: #2ec866;
  border: 1.5px solid;
  padding: 6px;
  border-radius: 5px; }

.login-button:hover {
  color: white;
  background: #2ec866; }

#sign-up-button {
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 25px;
  float: right;
  border: 1.5px solid;
  color: #2ec866;
  padding: 6px;
  border-radius: 5px; }

#sign-up-button:hover {
  color: white;
  background: #2ec866; }

.banner {
  padding-top: 25px;
  opacity: 0.6; }

#usrcr {
  font-size: 1.5em;
  text-decoration: none;
  margin-right: -10px;
  margin-top: 55px;
  float: right;
  border: 1.5px solid;
  color: #2ec866;
  padding: 6px;
  border-radius: 5px; }

#usrcr:hover {
  color: white;
  background: #2ec866; }


#addq {
  font-size: 1.5em;
  text-decoration: none;
  margin-right: -30px;
  margin-top: 55px;
  float: right;
  border: 1.5px solid;
  color: #2ec866;
  padding: 6px;
  border-radius: 5px; }

#addq:hover {
  color: white;
  background: #2ec866; }
